* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    background: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    font-family: 'Grape Nuts', cursive;
    text-shadow: 2px 3px 2px #474747;
}

main {
    padding: 15px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

div#weather {
    display: flex;
    flex-direction: column;
}

.weather-temp {
    display: flex;
    flex-direction: row;
}

.weather-temp > img {
    margin: 0;
    width: 70px;
    align-self: center;
}

.weather-temp > p {
    margin-left: -10px;
    font-size: 2rem;
}

#weather-city {
    margin: -25px 0 0;
    text-align: right;
    font-size: 1.6rem;
}

#crypto-top {
    display: flex;
}

#crypto-top > img {
    align-self: center;
    margin-right: 10px;
}

div#crypto > p {
    margin: 0.2em 0;
}

h1#time {
    text-align: center;
    font-size: 3.5rem;
}

p {
    font-size: 1.3rem;
}

.top {
    display: flex;
    justify-content: space-between;
}